<nav class="navbar mynav">

  <div class="container">

<!--
    <ul class="nav nw" >
      <li><a href=""> Home</a> </li>
      <li><a [routerLink]="['/clothes']"> clothes</a> </li>
      <li><a [routerLink]="['/shoes']"> Shoes</a> </li>
      <li><a [routerLink]="['/login']"> login</a> </li>
    </ul>
     -->
  </div>
  <mat-toolbar>
    <span>Welcome to our webshop! </span>
  </mat-toolbar>
<mat-card>
  <button mat-raised-button [routerLink]="['/']" >Home</button>
  <button mat-raised-button [routerLink]="['/clothes']">Clothes</button>
  <button mat-raised-button [routerLink]="['/shoes']">Shoes</button>
  <button mat-raised-button color="primary" [routerLink]="['/login']" class="btn">Login</button>
  <button mat-raised-button color="primary" [routerLink]="['/signup']" class="btn">Signup</button>
  <button mat-raised-button color="primary" [routerLink]="['/cart']" class="btn" >Shopping Cart</button>
  <button class="mat-raised-button mat-primary" [routerLink]="['/signout']" >Sign out</button>

    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <div id="my-signin2"></div>

</mat-card>
</nav>
