
<h3>Add a book</h3>
<ul>
  <tr *ngFor="let person of products; let i = index">

    <td>
      Title - {{ person.title }} </td> <td>Type - {{ person.type }} </td>  <td>Price - {{ person.price }} </td> <td> Description - {{ person.description }} </td> <td>{{person.photo}} </td>
  </tr>
</ul>
<input type="text" [(ngModel)]="title" name="title" placeholder="Enter the title">
<input type="text" [(ngModel)]="type" name="type" placeholder="Enter the type">
<input type="number" [(ngModel)]="price" name="price" placeholder="Enter the price">
<input type="text" [(ngModel)]="description" name="description" placeholder="Enter the description">
<label for="file">File:</label>
<input type="file" [(ngModel)]="photo" name="photo" (change)="upload($event)" accept=".png,.jpg" />
<input type="submit" value="Log in" (click)="add()">
