<!--
<div class="box" style="background-color: white">
  <mat-form-field>
    Username: <br>
    <input type="text" class="Username" id="email" value="" placeholder="Enter  your email" required><br>
    Password: <br>
    <input type="password" class="password" id="password" value="" placeholder="Enter  your password" required><br>
    <button mat-button type = "submit" >Login</button>
</mat-form-field>
</div>
-->
<!--
<div class="form-group">
    <button type="buton" class="btn btn-block" (click)="loginWithFacebook()">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      Login with Facebook
    </button>

    <button type="button" class="btn btn-block" (click)="loginWithGoogle()">
      <i class="fa fa-google" aria-hidden="true"></i>
      Login with Google
    </button>

    <button type="button" class="btn btn-block" (click)="loginWithYahoo()">
      <i class="fa fa-yahoo" aria-hidden="true"></i>
      Login with Yahoo
    </button>
</div>

<div class="form">
  <mat-card>
    <mat-form-field class ="mat-full-width">

      <input matInput="email" type="text" placeholder="Enter your email" >
    </mat-form-field>

    <mat-form-field class="mat-full-width">
      <input matInput type="password" placeholder="Enter your password" [formControl]="form.controls['password']">
    </mat-form-field>

    <button class="mat-raised-button mat-primary" (click)="signin()">SignIn</button>

  </mat-card>
</div>



<div >
  <ul *ngFor="let user of users" class="collection">
    <li class="collection-user"><strong>{{user.email}}: </strong> {{user.name}}
    </li>
  </ul>
</div>


<ul *ngFor="let user of users | async">
  <li>
    <strong>{{ user.email}}</strong>
    <br>
    {{user.name}}
  </li>
</ul>
-->
<input type="text" [(ngModel)]="email" name="email" placeholder="Enter the email" [formControl]="form.controls['email']">
<input type="password" [(ngModel)]="password" name="password" placeholder="Enter password" [formControl]="form.controls['password']">
<input type="submit" value="Log in" (click)="signin()">
